<header>
	<nav>
		<div id="menuA">
			<div href="#" class="showhim"><span class="menumov">MENÚ &#8803;</span>
				<div class="showme">
					<li><a title="" [routerLink]="['/index']">Home</a></li>
					<li><a title="" [routerLink]="['/update-register']">Update Profile</a></li>
					<li><a title="" (click)="removeItem()">Sign Up</a></li>
				</div>
			</div>
		</div>
		<ul class="elivi">
			<li class="fac"><a [routerLink]="['/index']" title="">Home</a></li>
			<li class="fac"><a [routerLink]="['/update-register']" title="">Update Profile</a></li>
			<li class="fac"><a (click)="removeItem()" title="">Sign Up</a></li>
		</ul>
	</nav>
</header>