<div class="container">
    <div class="sub-container-register">
        <div class="login-form">
            <div class="title">
                Update Register
            </div>
            <form #UpdateRegister="ngForm" (ngSubmit)="onRegister()">
                <div class="input-fields">
                    <label class="label">Full Name</label>
                    <input type="text" #fullname="ngModel" [(ngModel)]="object.fullname" name="fullname" class="input"
                        required minlength="4">
                    <!-- message -->
                    <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="text-danger text-left">
                        <div *ngIf="fullname.errors.required">
                            Fullname is required.
                        </div>
                        <div *ngIf="fullname.errors.minlength">
                            Fullname must be at least 4 characters long.
                        </div>
                        <div *ngIf="fullname.errors.forbiddenName">
                            Fullname cannot be Bob.
                        </div>
                    </div>
                </div>

                <div class="input-fields">
                    <label class="label">Email</label>
                    <input type="email" #email="ngModel" [(ngModel)]="object.email" class="input" name="email" required
                        required minlength="10" pattern="[^ @]*@[^ @]*">
                    <!-- message -->
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger text-left">
                        <div *ngIf="email.errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors.minlength">
                            Email must be at least 10 characters long.
                        </div>
                        <div *ngIf="email.errors.forbiddenName">
                            Email cannot be Bob.
                        </div>
                        <div *ngIf="email.errors.pattern">
                            Email invalid.
                        </div>
                    </div>
                </div>
                <div class="input-fields">
                    <label class="label">Password</label>
                    <input type="password" #password="ngModel" [(ngModel)]="object.password" name="password"
                        class="input" required
                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                    <!-- message -->
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger text-left">
                        <div *ngIf="password.errors.required">
                            password is required.
                        </div>
                        <div *ngIf="password.errors.minlength">
                            password must be at least 10 characters long.
                        </div>
                        <div *ngIf="password.errors.forbiddenName">
                            password cannot be Bob.
                        </div>
                        <div *ngIf="password.errors.pattern">
                            password invalid.
                        </div>
                    </div>
                </div>
                <div class="input-fields">
                    <label class="label">Password confirm</label>
                    <input type="password" [(ngModel)]="object.passwordconfirm" name="passwordconfirm" class="input"
                        required>
                </div>
                <div class="forgot">
                    <a></a>
                </div>
                <button type="button" class="btn-cancel" [routerLink]="['/']">Cancel</button>
                <button type="submit" class="btn" [disabled]="!UpdateRegister.valid">Register</button>
            </form>
        </div>
    </div>
</div>