.container-details {
    width: 80%;
    margin: auto;
    margin-top: 8rem;
}

.container-img-details {
    width: 50%;
    margin: auto;
    background-color: #f1f1f1;
    text-align: center;
}

.title-img-detail {
    padding: 1rem;
}

.modal-header {
    margin: auto;
}

.modal-content {
    width: 50%;
    margin: auto;
}

.modal-body {
    margin: auto;
}

.card-img-detail {
    width: 100%;
}

/* Float four columns side by side */
.column-details {
    float: left;
    width: 20%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px 40px 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    min-height: 8rem;
    margin-top: 1rem;
}

.card-img {
    padding: 15px;
    width: 70%;
    margin: auto;
}

.img-pokemon {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.btn-delatil {
    width: 40%;
    margin: auto;
}

.btn-delatil:hover {
    background-color: #cc3300;
    color: #fff;
    width: 40%;
    margin: auto;
}

.btn-return {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
}
.btn-return:hover {
    background-color: #cc3300;
    color: #fff;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media (max-width: 1199px) {
    .card-img {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .column-details {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .card-img {
        width: 100%;
    }
    .container-img-details {
        width: 100%;
    }
    .img-detail-1 {
        width: 50%;
    }
    .btn-return {
        right: 2rem;
    }
}
