<div class="container-details">
    <div class="container-img-details">
        <div class="title-img-detail">
            <h1>{{pokemon.name}}</h1>
        </div>
        <img class="img-detail" src="{{pokemonImg}}" class="img-detail-1" alt="">
        <div class="img-detail-2">
            <img class="img-detail" src="{{pokemonImg2}}" alt="">
            <img class="img-detail" src="{{pokemonImg3}}" class="ml-5" alt="">
        </div>
    </div>
    <div class="row">
        <div class="column-details">
            <div class="card">
                <div class="card-img">
                   <h2>#00{{pokemon.id}}</h2>
                </div>
            </div>
        </div>
        <div class="column-details">
            <div class="card">
                <h3 style="display: block;">Type</h3>
                <div class="card-img">
                    {{pokemonType}}
                </div>
            </div>
        </div>
        <div class="column-details">
            <div class="card">
                <h3 style="display: block;">Height</h3>
                <div class="card-img">
                    {{pokemon.height}}
                </div>
            </div>
        </div>
        <div class="column-details">
            <div class="card">
                <h3 style="display: block;">Weight</h3>
                <div class="card-img">
                    {{pokemon.weight}}
                </div>
            </div>
        </div>
        <div class="column-details">
            <div class="card">
                <h3 style="display: block;">Moves</h3>
                <div class="card-img">
                    {{pokemonMoves}}
                </div>
            </div>
        </div>
    </div>
    <button class="btn-return" [routerLink]="['/index']">Return</button>
</div>