<div class="container-full">
    <div class="container-modal-detail">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">{{pokemon.name}}</h1>
            </div>
            <div class="modal-body">
                <div class="card-img">
                    <img class="img-detail" src="{{pokemonImg}}" alt="">
                </div>
                <div class="type">
                    <h5 class="modal-title">Id: {{pokemon.id}}</h5>
                </div>
                <div class="id">
                    <h5 class="modal-title">Type: {{pokemonType}}</h5>
                </div>
                <div class="height">
                    <h5 class="modal-title">Height: {{pokemon.height}}</h5>
                </div>
                <div class="weight">
                    <h5 class="modal-title">Weight: {{pokemon.weight}}</h5>
                </div>
                <div class="weight">
                    <h5 class="modal-title">Moves: {{pokemonMoves}}</h5>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    [routerLink]="['/index']">Close</button>
            </div>
        </div>
    </div>
</div>
