.container-pokemon {
  width: 80%;
  margin: auto;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  min-height: 36rem;
  margin-top: 1rem;
}

.card-img {
  padding: 15px;
  width: 70%;
  margin: auto;
}

.img-pokemon {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.scroll {
  margin-top: 8rem;
  overflow: scroll;
  height: 86vh;
  width: auto;
}

.btn-delatil {
  width: 40%;
  margin: auto;
}

.btn-delatil:hover {
  background-color: #cc3300;
  color: #fff;
  width: 40%;
  margin: auto;
}

.search {
  position: absolute;
  top: 5rem;
  right: 5rem;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media (max-width: 1199px) {
  .card-img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .card-img {
    width: 100%;
  }
  .search {
    right: 2rem;
  }
}
