<div class="search" style="position: absolute; top: 5rem; right: 5rem">
  <!-- <input type="text" (keyup)="applyFilter($event)" placeholder="Filter"> -->
  <!-- <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"> -->
  <input type="text" [(ngModel)]="pokemonSearch" placeholder="Filter for name">
  <!-- <input type="text" [(ngModel)]="typeSearch" placeholder="Filter for type"> -->
</div>
<div class="scroll">
  <div class="container-pokemon">
    <div class="row">
      <div class="column" *ngFor="let item of data | filter: pokemonSearch">
        <div class="card">
          <h3 style="display: block;">{{item.name}}</h3>
          <h3 style="display: block;">{{item.order}}</h3>
          <div class="card-img">
            <img src="{{item.image}}" alt="pokemon" class="img-pokemon" width="100" height="100">
          </div>
          <h4>Type:</h4>
          <div class="row justify-content-center">
            <div class="col-3" *ngFor="let type of item.types">
              <p>{{type.type.name}}</p>
            </div>
          </div>
          <button type="button" class="btn-delatil" (click)="getRow(item)">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>