/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://swall.teahub.io/photos/small/95-957071_1080p-pokemon-images-hd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // min-height: 100vh;
}
