/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./assets/img/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // min-height: 100vh;
}

@media(max-width: 1199px){
body{
    min-height: 100vh;
}
}
